/* anuncio */

.anuncio {
  border: solid 1px lightgray;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0.5rem;

}

.anuncio .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.anuncio img {
  width: 100%; 
  max-width: 200px;
  min-width: 100px;
}

.anuncio td {
  max-width: 300px;
}


/* user-actions */

.user-actions button {
  padding: 10px;
  margin: 20px;
}

.user-actions a {
  padding: 20px;
}