.anuncio {
  border: solid 1px lightgray;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.anuncio .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.anuncio img {
  width: 100%; 
  max-width: 200px;
  /* height: 100%; */
}
